
config DRV_I2C_TEMPLATES
    tristate "i2c templates xxxxxxxxxxxxxx"
    default n
    help
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
if CONFIG_DRV_I2C_TEMPLATES
config DRV_I2C_USE_DEBUG
    tristate "i2c templates debug enalbe"
    default n
    select DRV_I2C_USE_DEBUG
endif
